%desktopJobCard {
  position: relative;
  @media (min-width: $largeWidth) {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    & .secondary-card__img {
      height: $_desktopImgHeight;
    }
  }
}

%inAppCheckbox {
  font-weight: 500;
  line-height: 18px;
  color: $darkBrownText;

  &.checkbox__container {
    padding-left: 25px;
  }
  &.checkbox__container .checkbox__input:checked ~ .checkbox__checkmark {
    border: 2px solid $mainOrangeColor;
    background-color: $whiteColor;
  }
  & .checkbox__checkmark {
    border: 2px solid $mainOrangeColor;
    box-sizing: border-box;
    width: 17px;
    height: 17px;
    top: 50%;
    transform: translateY(-50%);
    &::after {
      top: 0px;
      left: 4px;
      width: 3px;
      height: 9px;
      border-right: 2px solid $mainOrangeColor;
      border-bottom: 2px solid $mainOrangeColor;
    }
  }
}

%inAppRadioBtn {
  &.radio-btns-list {
    row-gap: 10px;
    font-weight: 500;
  }
  .radio-btn {
    &__label {
      padding-left: 27px;
      align-items: baseline;
      &::before {
        width: 19px;
        height: 19px;
        border: 2px solid #f5bc3d;
      }
      &:after {
        top: 3px;
        left: 3px;
        width: 13px;
        height: 13px;
      }
    }
  }
}

%profileModalBtn {
  margin-top: 16px;
  width: 100%;
  color: $whiteColor;
  height: 48px;
  box-shadow: none;
}

%profileStickyBtn {
  position: sticky;
  bottom: -1px;
  left: 0;
  background-color: $whiteColor;
}

%profileModalBox {
  background-color: rgba(24, 30, 41, 0.3);
  display: block;
  overflow: hidden;
  backdrop-filter: blur(2px);

  & .modal-content__close {
    padding: 15px;
  }
}

%profileModalContent {
  max-width: 500px;
  border: none;
  border-radius: 27px;
}

%profileInput {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: $darkBrownText;
  &:read-only {
    background-color: #eeeff0;
  }
  &::placeholder {
    color: #c4c4c4;
  }
}

%profileSelect {
  height: 42px;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: $darkBrownText;
}

%profileLabel {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  letter-spacing: 0.2px;
  color: $greyText;
  margin-bottom: 8px;
  margin-top: 27px;
  &:first-child {
    margin-top: 0;
  }
}

%profileModalTitleText {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: $darkBrownText;
}

%profileModalText {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: $greyText;
}

%profileHrStyle {
  background: #eeeeee;
  width: 100%;
  height: 1px;
  border: 0;
}

%profileHeaderTitleText {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

%profileSectionTitleText {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: $darkBrownText;
}

%profileSectionItemText {
  font-size: 12px;
  line-height: 23px;
  color: $lightGreyText;
}

%edit-icon {
  width: 17px;
  padding: 5px;
  cursor: pointer;
}

%counterSymbols {
  font-size: 12px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.2px;
  color: $greyText;
}
