@import '../../globalStyles/main.scss';

.disk {
  width: 100%;
  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: $mediumWidth) {
      flex-direction: column;
    }

    &-fullness {
      width: 200px;
      @media (max-width: $mediumWidth) {
        margin: 5px 0;
      }
    }

    &-btns {
      display: flex;
      &_create {
        margin-left: 10px;
      }
  
      &_create, &_back {
        background-color: rgba(255, 255, 255, 0.1);
        border: 2px solid $fontColor;
        cursor: pointer;
        border-radius: 10px;
        padding: 5px 10px;
      }
  
      &_create:hover, &_back:hover {
        background-color: $fontColor;
        color: $whiteColor;
        border: 2px solid $fontColor;
      }
  
      &_back:disabled {
        border-color: $greyColor;
        background-color: $greyColor;
        color: $darkGreyColor;
        &:hover {
          background-color: $greyColor;
          cursor: auto;
        }
      }
  
      &_upload {
        display: flex;
        &-input {
          display: none;
        }
        &-label {
          margin-left: 10px;
          border: 2px dashed $fontColor;
          cursor: pointer;
          padding: 7px 10px;
          border-radius: 10px;
          &:hover {
            background-color: $fontColor;
            color: $whiteColor;
            border: 2px solid $fontColor;
          }
        }
      }
    }
    
    &-right-side {
      display: flex;
      align-items: center;
    }
    &-sorting {
      &_title {
        display: flex;
        align-items: center;
      }
      &_select {
        width: 90px;
        margin-left: 5px;
      }
    }
    &-display-folder {
      display: flex;
      align-items: center;
      &_list, &_tiles {
        width: 25px;
        height: 25px;
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }

  .loading-content {
    margin-top: 20vh;
  }

  &__drop-area {
    width: 100%;
    height: 80vh;
    border: dashed $fontColor 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
}
