@import '../../../globalStyles/main.scss';

.files-list {
  padding-top: 20px;

  &__header {
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
    &-name {
      grid-column-start: 2;
    }
    &-date {
      grid-column-start: 5;
      justify-self: center;
    }
    &-size {
      grid-column-start: 6;
      justify-self: center;
    }
  }
  
  &__empty { 
    width: 100%;
    height: 56vh;
    margin-top: 20px;
    border: solid $fontColor 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }

  &__content {
    max-height: 400px;
    overflow-y: auto;
    @media (min-height: 750px) {
      max-height: 550px;
    }
    @media (min-height: 1000px) {
      max-height: 1150px;
    }
  }
}

.files-tiles {
  display: flex;
  padding-top: 20px;
  flex-wrap: wrap;
  gap: 20px;
}
