@import './variables';
@import './mixins';
@import './extends';

.container {
  box-sizing: border-box;
  padding: $padding-page 15px;
  width: 100%;
  max-width: $smallWidth;
  @media (min-width: $mediumWidth) {
    width: calc(100% - 40px);
    max-width: calc($largeWidth - 124px);
  }
  @media (min-width: $largeWidth) {
    width: calc(100% - 124px);
    max-width: $largeWidth;
  }
  @media (min-width: $extraLargeWidth) {
    width: calc(100% - 200px);
    max-width: calc(#{$extraLargeWidth} - 200px);
  }
  @media (max-width: $extraSmallWidth) {
    padding: $padding-page 10px;
  }
}

.button {
  border: none;
  background-color: $font-color;
  border-radius: 15px;
  color: white;
  padding: 5px 10px;
  font-weight: 700;
  width: 100px;
  height: 30px;
  &:hover {
    cursor: pointer;
  }
}

.unvisible {
  transition: all 0.25s ease-in-out;
  transform: translate3d(0px, 80px, 0);
  opacity: 0;
  z-index: -1;
}

.visible {
  transform: translate3d(0px, 0, 0);
  opacity: 1;
  z-index: 20;
}

.calendar {
  max-width: 350px;
  width: fit-content;
  height: fit-content;
  margin: 20px auto;
  border: 1px solid #000;
  &-arrow {
    &-next,
    &-prev {
      position: relative;
      height: 100%;
      width: 100%;
      &::after {
        content: '';
        margin: 0 auto;
        // @include bckImgProps(
        //   15px,
        //   13px,
        //   '../../assets/icons/arrows/black_arrow_right.svg',
        // );
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &-prev::after {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }

  &-arrow-next {
    position: relative;
    height: 100%;
    width: 100%;
  }

  & .react-calendar {
    &__navigation {
      border-bottom: 1px solid #000;
      align-items: center;
      &__label__labelText {
        font-family: Poppins;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
      }

      & button:enabled:hover,
      button:enabled:focus {
        background-color: #efae26;
      }

      &__arrow {
        margin: 10px;
        padding: 0;
        height: 31px;
        min-width: initial;
        width: 31px;
        background-color: #efae26;
        border-radius: 50%;
      }
      &__label {
        color: #000;
      }
      &__label span {
        color: #000;
      }
    }

    &__tile {
      color: #000;
      &--now {
        background-color: initial;
      }
      &--active:hover,
      &--active:focus,
      &--range {
        background: #f0f0f0;
      }
    }

    &__month-view {
      &__weekdays {
        text-transform: initial;
        & abbr[title] {
          text-decoration: initial;
          font-family: Poppins;
          font-size: 13px;
          line-height: 19px;
          letter-spacing: 1px;
          color: #000;
        }
      }
      &__days {
        &__day {
          font-family: Poppins;
          font-weight: 600;
          font-size: 13px;
          line-height: 19px;
          letter-spacing: 1px;
          &[disabled] {
            color: #d8d8d8;
            background-color: initial;
          }
          &--weekend {
            color: #000;
          }
        }
      }
    }
  }

  &
    .react-calendar__navigation.react-calendar__navigation.react-calendar__navigation
    > .react-calendar__navigation__label {
    background-color: initial;
    &__labelText {
      color: #000;
    }
  }
}

.modal-box_external-close-Icon {
  .modal-content {
    $closeBtnIndent: 85px;
    box-sizing: border-box;
    border-top: none;
    padding: 8px 12px;
    border-radius: 10px;
    width: 92%;
    max-width: 610px;
    bottom: calc(-#{$closeBtnIndent} / 2);
    @media (min-width: $smallWidth) {
      padding: 26px 39px 40px;
      width: 80%;
    }
    @media (min-width: $mediumWidth) {
      bottom: initial;
    }

    &__close {
      top: -$closeBtnIndent;
      right: 0;
      @extend %separateCloseBtnStyle;
      @media (min-width: $mediumWidth) {
        top: 0;
        right: -$closeBtnIndent;
      }
    }
  }

  background: linear-gradient(
    180deg,
    rgba(44, 42, 47, 0.7) 0%,
    rgba(44, 42, 47, 0.7) 100%
  );
  backdrop-filter: blur(2.5px);
}
