@import './variables';
@import './mixins';

%closeButtonStyle {
  display: block;
  background: #686868;
  height: 18px;
  width: 3px;
}

%closeIcon {
  position: absolute;
  top: 0;
  right: 10px;
  font-weight: 800;
  cursor: pointer;
  padding: 5px;
  height: 16px;
  &:before {
    content: '';
    @extend %closeButtonStyle;
    transform: translate(0, 0) rotate(45deg);
  }
  &:after {
    content: '';
    @extend %closeButtonStyle;
    transform: translate(0, -18px) rotate(-45deg);
  }
}

%separateCloseBtnStyle {
  background-color: $mainBackWhiteColor;
  padding: 26px 33px;
  border-radius: 10px;
  &::before,
  &::after {
    width: 2px;
  }
}

%modalContent {
  border-top: none;
  max-width: 800px;
  max-height: 90vh;
  overflow: auto;
  .simple-card {
    min-width: 258px;
  }

  .modal-content__close {
    top: 17px;
    right: 20px;
  }
}

%buttonFile {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed;
  border-radius: 10px;
  margin-right: 5px;
  height: 25px;
  cursor: pointer;

  &:hover {
    background-color: $font-color;
    color: white;
    border: none;
  }
}
