@import './variables';

%buttonFile {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed;
  border-radius: 10px;
  height: 35px;
  cursor: pointer;

  &:hover {
    background-color: $fontColor;
    color: $whiteColor;
    border: none;
  }
}
