@import '/src/globalStyles/main.scss';

%lightText {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.2px;
}

%heavyText {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
}

.upload-resume {
  position: relative;
  &__delete-button {
    padding: 7px;
    font-size: 10px;

    @extend %closeIcon;
    &:before {
      height: 12px;
      width: 2px;
      background: $blackColor;
    }
    &:after {
      height: 12px;
      width: 2px;
      transform: translate(0, -12px) rotate(-45deg);
      background: $blackColor;
    }
  }

  &__form-upload {
    &-wrapper {
      border: 1px dashed #b9b8b9;
      border-radius: 15px;
      box-sizing: border-box;
      display: grid;
      justify-items: center;
      align-items: center;
    }
    &-prompt {
      font-weight: 600;
      @extend %heavyText;
      color: $blackColor;
    }
    &-input {
      display: none;
    }
    &_ondrag {
      transition: 0.5s;
      border: 1px solid $blackColor;
    }
    &-file {
      border: 1px solid $blackColor;
      border-radius: 15px;
      display: flex;
      @media (min-width: $smallWidth) {
        max-height: 70px;
      }
      &-icon {
        width: 20px;
        &-wrapper {
          margin: 14px 10px 30px 22px;
          height: 29px;
          width: 32px;
          border: 1px solid #b9b8b9;
          border-radius: 6px;
          display: flex;
          justify-content: center;
        }
      }
      &-status {
        width: 100%;
        margin-right: 30px;
        display: flex;
        justify-content: space-between;
        &-title {
          margin: 0;
          margin-top: 8px;
          font-weight: 500;
          @extend %heavyText;
        }
        &-size {
          @extend %lightText;
          margin: 0;
          color: #b9b8b9;
        }

        &-line {
          position: relative;
          max-width: 600px;
          height: 8px;
          overflow: hidden;
          border-radius: 6px;
          background: $lightGrey;

          &-filled {
            height: 100%;
            background-color: $blackColor;
            position: absolute;
            transition: 0.5s;
            border-radius: 6px;
          }
        }
        &-description {
          @extend %lightText;
          margin: 0;
          padding: 45px 30px 10px 20px;
        }
        &-loading {
          width: 100%;
        }
      }
    }
  }
  &__hide-input {
    display: none;
  }
}
