@import '../../../globalStyles/main';

.registration {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  background-color: $whiteColor;
  border-radius: 20px;
  padding: 30px;
  align-self: center;
  margin-top: 100px;


  &__header {
    font-size: 30px;
    font-weight: 700;
  }

  input {
    margin: 10px 20px; 
  }

  &__btn {
    margin-top: 10px;
  }
}
