@import '../../../globalStyles/main';

.navbar {
  display: flex;
  justify-content: center;
  height: $navbarHeight;
  background-color: white;
  width: 100%;

  &__wrapper  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &__header {
    display: flex;
    align-items: center;
    &-title {
      font-size: 24px;
      font-weight: 700;
    }
    &-search {
      margin-left: 20px;
      @media (max-width: $mediumWidth) {
        margin-left: 0;
        margin-right: 20px;
      }
    }

  }
  &__authorization {
    display: flex;
    align-items: center;
    &-login {
      margin-right: 20px;
    }
    &-avatar {
      margin-right: 10px;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
    &-sign-out {
      text-decoration: underline;
    }
    &-login, &-registration, &-sign-out, &-avatar {
      cursor: pointer;
    }
  }

}
