@import '../../../globalStyles/main.scss';

.uploader-file {
  background-color: $backgroundColor;
  justify-content: space-between;
  border-radius: 8px;
  padding: 5px 10px;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__progress-bar {
    height: 1rem;
    border-radius: 8px;
    background-color: $fontColor;
    display: flex;
    margin: 3px 0;
    &_upload-bar {
      background-color: $greenColor;
      border-radius: 8px;
    }
    &_percent {
      color: $backgroundColor;
      left: 50%;
      position: absolute;
    }
  }
}