.red {
  color: #d14c4c;
}
.yellow {
  color: $mainLightOrangeColor;
}
.green {
  color: #549b48;
}

.unvisible {
  transition: all 0.25s ease-in-out;
  transform: translate3d(0px, $_visible-translate, 0);
  opacity: 0;
  z-index: -1;
}

.visible {
  transform: translate3d(0px, 0, 0);
  opacity: 1;
  z-index: 20;
}

.link {
  text-decoration: none;
  color: #3b758c;
}

.additional-padding {
  padding-bottom: 60px;
}

.negative-margin {
  margin-top: -60px;
}

.preinterview-container {
  box-sizing: border-box;
  padding: $_padding-interview-page 30px;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  @media (min-width: 760px) {
    max-width: 720px;
  }
}

.preinterview-bg-container {
  min-height: calc(100vh - #{$navbarHeight});
  background-color: $mainBackWhiteColor;
  max-width: initial;
}

.profile_white-btn {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 8px 12px;
  background-color: $whiteColor;
  border: 1px solid $mainLightOrangeColor;
  box-sizing: border-box;
  border-radius: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.2px;
  color: $mainLightOrangeColor;
  box-shadow: none;
  text-transform: none;
  @media (min-width: $largeWidth) {
    &:hover {
      color: $whiteColor;
      background-color: #ffdc8e;
    }
  }
}

.profile_orange-btn {
  color: $whiteColor;
  background-color: #ffdc8e;
  border-radius: 24px;

  @media (min-width: $largeWidth) {
    &:hover {
      background-color: $mainLightOrangeColor;
    }
  }
}

.prompt__profile-help {
  background: #c4c4c4;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
}

.score_red {
  color: #d14c4c;
}
.score_yellow {
  color: $mainLightOrangeColor;
}
.score_green {
  color: #549b48;
}

.schedule__calendar {
  max-width: 350px;
  width: fit-content;
  height: fit-content;
  margin: 20px auto;
  border: 1px solid $blackColor;
  &-arrow {
    &-next,
    &-prev {
      position: relative;
      height: 100%;
      width: 100%;
      &::after {
        content: '';
        margin: 0 auto;
        @include bckImgProps(
          '../../assets/icons/arrows/black_arrow_right.svg',
          15px,
          13px
        );
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &-prev::after {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }

  &-arrow-next {
    position: relative;
    height: 100%;
    width: 100%;
  }

  & .react-calendar {
    &__navigation {
      border-bottom: 1px solid $blackColor;
      align-items: center;
      &__label__labelText {
        font-family: Poppins;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
      }

      & button:enabled:hover,
      button:enabled:focus {
        background-color: $mainLightOrangeColor;
      }

      &__arrow {
        margin: 10px;
        padding: 0;
        height: 31px;
        min-width: initial;
        width: 31px;
        background-color: $mainLightOrangeColor;
        border-radius: 50%;
      }
      &__label {
        color: $blackColor;
      }
      &__label span {
        color: $blackColor;
      }
    }

    &__tile {
      color: $blackColor;
      &--now {
        background-color: initial;
      }
      &--active:hover,
      &--active:focus,
      &--range {
        background: #f0f0f0;
      }
    }

    &__month-view {
      &__weekdays {
        text-transform: initial;
        & abbr[title] {
          text-decoration: initial;
          font-family: Poppins;
          font-size: 13px;
          line-height: 19px;
          letter-spacing: 1px;
          color: $blackColor;
        }
      }
      &__days {
        &__day {
          font-family: Poppins;
          font-weight: 600;
          font-size: 13px;
          line-height: 19px;
          letter-spacing: 1px;
          &[disabled] {
            color: #d8d8d8;
            background-color: initial;
          }
          &--weekend {
            color: $blackColor;
          }
        }
      }
    }
  }

  &
    .react-calendar__navigation.react-calendar__navigation.react-calendar__navigation
    > .react-calendar__navigation__label {
    background-color: initial;
    &__labelText {
      color: $blackColor;
    }
  }
}

.ob-question {
  font-weight: 500;
  font-size: 27px;
  line-height: 41px;
  color: $blackColor;
  @media (min-width: $smallWidth) {
    font-size: 32px;
    line-height: 48px;
  }
}

.ob-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: $blackColor;
}

.ob-container {
  box-sizing: border-box;
  padding: $_padding-ob-page 15px;
  width: 100%;
  max-width: $smallWidth;
  margin: $navbarHeight auto;
  @media (min-width: $mediumWidth) {
    width: calc(100% - 40px);
    max-width: calc($largeWidth - 124px);
  }
  @media (min-width: $largeWidth) {
    width: calc(100% - 124px);
    max-width: $largeWidth;
  }
  @media (min-width: $extraLargeWidth) {
    width: calc(100% - 200px);
    max-width: calc(#{$extraLargeWidth} - 200px);
  }
  @media (max-width: $extraSmallWidth) {
    padding: $_padding-ob-page 10px;
  }
}

.modal-box_external-close-Icon {
  .modal-content {
    $closeBtnIndent: 85px;
    box-sizing: border-box;
    border-top: none;
    padding: 8px 12px;
    border-radius: 10px;
    width: 92%;
    max-width: 610px;
    bottom: calc(-#{$closeBtnIndent} / 2);
    @media (min-width: $smallWidth) {
      padding: 26px 39px 40px;
      width: 80%;
    }
    @media (min-width: $mediumWidth) {
      bottom: initial;
    }

    &__close {
      top: -$closeBtnIndent;
      right: 0;
      @extend %separateCloseBtnStyle;
      @media (min-width: $mediumWidth) {
        top: 0;
        right: -$closeBtnIndent;
      }
    }
  }

  background: linear-gradient(
    180deg,
    rgba(44, 42, 47, 0.7) 0%,
    rgba(44, 42, 47, 0.7) 100%
  );
  backdrop-filter: blur(2.5px);
}
.ob__checkbox_checked {
  font-weight: 700;

  &.checkbox__container
    .checkbox__button-grid:checked
    ~ .checkbox__button-grid-checkmark {
    border: 1px solid $darkOrange2;
    background-color: $darkOrange;
  }
}

.ob__radio-btn_checked {
  &.radio-btns-list
    > .radio-btn.radio-btns-list_grid
    > .radio-btn__input[type='radio']:checked
    + label.radio-btn__label {
    font-weight: 700;
  }

  &.radio-btns-list
    > .radio-btn.radio-btns-list_grid
    > .radio-btn__input[type='radio']:checked
    + label::before {
    border: 1px solid $darkOrange2;
    background-color: $darkOrange;
  }
}

.worker-detail-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 34px;
  border-bottom: $greyEmployerBorder;
  h4 {
    @extend %workerDetailsTitle;
    margin: 0;
  }
}
