@import '/src/globalStyles/main.scss';

%deleteBtnStyle {
  height: 16px;
  width: 2px;
  background: $mainOrangeColor;
}

%fileSizes {
  height: 58px;
  width: 50px;
}

.upload-file {
  .profile_orange-btn {
    padding: 8px 12px;
  }
  position: relative;
  .upload-file__upload-button {
    margin-top: 10px;
  }
  &__delete-button {
    padding: 10px;
    font-size: 12px;
    top: 11px;
    @extend %closeIcon;
    &:before {
      @extend %deleteBtnStyle;
    }
    &:after {
      @extend %deleteBtnStyle;
      transform: translate(0, -16px) rotate(-45deg);
    }
  }
  &__modal-box .modal-content {
    border-top: none;
    max-width: 65vw;
    border-radius: 16px;
    padding: 0;
  }

  &__modal-box.modal-box {
    backdrop-filter: blur(2px);
  }

  &__video {
    width: 100%;
    height: 188px;
    cursor: pointer;
    &-control {
      width: 100%;
      height: 63%;
      position: absolute;
      z-index: 2;
      opacity: 0;
      cursor: pointer;
      &:after {
        display: none;
        content: '';
        position: absolute;
        left: 45%;
        top: 20%;
        border: 50px solid transparent;
        border-left: 50px solid $mainLightOrangeColor;
      }
      &-show {
        opacity: 1;
      }
    }
    &-container {
      position: relative;
    }
  }

  &__pdf-block {
    display: flex;
    align-items: center;
    img {
      margin: 0 12px 0px 26px;
    }
  }
  &__loaded-file {
    background: rgba(253, 119, 83, 0.05);
    border-radius: 4px;
    border: 1px solid $mainOrangeColor;
    color: $mainOrangeColor;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    padding: 16px 32px 16px 0px;
    position: relative;
  }

  &__alert-size {
    background-color: $redErrorColor;
    padding: 8px 5px;
    color: $whiteColor;
    font-size: 12px;
    position: relative;
    top: -5px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
  }

  &__form-upload {
    &-wrapper {
      width: 100%;
      padding: 16px;
      background: transparent;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='%23F5BC3EFF' stroke-width='3' stroke-dasharray='7%2c 12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
      box-sizing: border-box;
      border-radius: 6px;
      display: grid;
      justify-items: center;
      align-items: center;
      height: 121px;
      transition: 0.5s;
    }
    &-icon {
      @include bckImgProps(
        '../../assets/icons/other/upload-cloud.png',
        44px,
        44px
      );
    }
    &-prompt {
      font-weight: 600;
      font-size: 12px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.2px;
      color: $mainLightOrangeColor;
      max-width: 250px;
    }
    &-submit {
      height: 32px;
    }
    &-input {
      display: none;
      top: 0;
      height: 100%;
      width: 100%;
      cursor: pointer;
    }
    &_ondrag {
      transition: 0.5s;
      background-color: #fff8f0;
      background-image: url("data:image/svg+xml,%3csvg width='90%25' height='90%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='%23F7AE00FF' stroke-width='3' stroke-dasharray='7%2c 5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    }
  }
  &__hide-input {
    display: none;
  }
  &__other-file {
    @extend %fileSizes;
    background-color: $whiteColor;
    border: 1px solid rgba(128, 128, 128, 0.575);
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 8px;
  }
  &__img {
    @extend %fileSizes;
    object-fit: cover;
    margin-left: 25px;
  }
}
