@import '../../../globalStyles/main.scss';

.file {
  padding-top: 20px;
  box-sizing: border-box;
  border-bottom: solid 2px $fontColor;
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
  align-items: center;
  animation: file 500ms forwards;

  &:hover {
    // transform: scale(1.02);
    cursor: pointer;
  }
  &__name {
    grid-column-start: 2;
  }
  &__date {
    grid-column-start: 5;
    justify-self: center;
  }
  &__size {
    grid-column-start: 6;
    justify-self: center;
  }
  &__icon {
    justify-self: center;
  }

  &__btn {
    &-download {
      display: none;
    }
    &-delete {
      display: none;
    }
  }

  &:hover &__date{
    grid-column-start: 3;
  }
  &:hover &__size{
    grid-column-start: 4;
  }
  &:hover &__btn-download{
    grid-column-start: 5;
    @extend %buttonFile;
  }
  &:hover &__btn-delete {
    grid-column-start: 6;
    @extend %buttonFile;
  }

  &__plate {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 150px;
    &-icon {
      height: 80px;
      width: 80px;
    }
    &:hover {
      cursor: pointer;
    }
    &-btns {
      display: none;
    }
    &:hover &-btns {
      display: flex;
      flex-direction: column;
      width: 80px;
       &-btn {
        @extend %buttonFile;
        margin-top: 5px;
      }
    }
  }
}

@keyframes file {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
