@import '../../../globalStyles/main.scss';

.file {
  padding-top: 20px;
  box-sizing: border-box;
  border-bottom: solid 2px $fontColor;
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
  align-items: center;
  animation: file 500ms forwards;
  cursor: pointer;

  &__name {
    grid-column-start: 2;
  }
  &__date {
    grid-column-start: 5;
    justify-self: center;
  }
  &__size {
    grid-column-start: 6;
    justify-self: center;
  }
  &__icon {
    justify-self: center;
  }

  &__btn {
    &-download {
      display: none;
    }
    &-delete {
      display: none;
    }
  }

  &:hover &__date{
    grid-column-start: 3;
  }
  &:hover &__size{
    grid-column-start: 4;
  }
  &:hover &__btn-download{
    grid-column-start: 5;
    margin-right: 5px;
    @extend %buttonFile;
  }
  &:hover &__btn-delete {
    grid-column-start: 6;
    @extend %buttonFile;
  }

  &__plate {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    cursor: pointer;
    &-icon {
      margin-top: 10px;
      height: 80px;
      width: 80px;
    }
    &-actions {
      display: none;
    }
    &:hover &-actions {
      width: 100px;
      display: flex;
      justify-content: space-between;
      position: absolute;

      &-icon {
        width: 20px;
        height: 20px;
        &:hover {
          transform: scale(1.25);
        }
      }
      &-dir {
        justify-content: flex-end;
      }
    }
  }
}

@keyframes file {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
