@import '../../../globalStyles/main.scss';

.forgot-pass {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  align-items: center;
  background-color: $whiteColor;
  border-radius: 20px;
  padding: 30px;
  align-self: center;
  margin-top: 100px;

  &__header {
    font-size: 34px;
    font-weight: 700;
    padding-bottom: 10px;
  }

  input {
    margin: 10px 0; 
  }

  &__btn {
    margin-top: 20px;
    &:disabled {
      border-color: $greyColor;
      background-color: $greyColor;
      color: $darkGreyColor;
      &:hover {
        background-color: $greyColor;
        cursor: auto;
      }
    }
  }
}