/*** BORDERS ***/
$greyEmployerBorder: 1px solid #e5e5e5;
$lightGreyEmployerBorder: 1px solid $lightGrey2;

/*** TEXT COLORS ***/
$lightGreyEmployerText: #8c8c8c;
$darkGreyEmployerText: #6b6b6b;
$blueEmployerText: #3a758c;
