/*** PADDING SIZES ***/
$_outerPadding: calc((100vw - #{$_containerWidth}) / 2);

/*** SIZES ***/
$profileInputHeight: 48px;

/*** TEXT COLORS ***/
$darkBrownText: #28211f;
$greyText: #666e7a;
$lightGreyText: #737373;
