@import './globalStyles/main';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $fontColor;
}

body {
  background-color: $backgroundColor;
}

#root {
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__wrapper {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    background-image: url('assets/cloud-image.jpg');
    background-size: cover;

    @media (min-height: 700px) {
      height: calc(100vh - 70px);
    }
  }

  &__auth-page {
    @media (max-width: 400px) {
      height: calc(100vh - 70px);
    }
  }

  .loading-content {
    margin-top: 30vh;
  }
}
