@import '/src/globalStyles/main.scss';

.upload-photo {
  display: grid;
  grid-template-columns: 15% repeat(auto-fit, minmax(62px, min-content));
  grid-column-gap: 10px;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-rows: 1fr 1fr;
  @media (min-width: 375px) {
    grid-template-rows: 1fr 0fr;
  }
  @media (min-width: 720px) {
    grid-template-columns: max-content max-content max-content;
  }

  & .modal-content {
    border-top: none;
    border-radius: 16px;
    padding: 0;
  }

  & .modal-box {
    backdrop-filter: blur(2px);
  }

  &__background {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__icon {
    background-color: $whiteColor;
    border-radius: 50%;
    @include bckImgProps(
      '../../assets/icons/other/profile-public-icon.svg',
      calc(#{$iconHeight} / 2),
      calc(#{$iconHeight} / 2)
    );
    object-fit: cover;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  &__inputphoto {
    display: none;
  }

  &__button {
    width: fit-content;
    font-size: 12px;
    white-space: nowrap;
    margin-top: 0;
    padding: 6px 9px;
    @media (min-width: 375px) {
      margin-top: 10px;
    }
  }

  &__alert-size {
    background-color: $redErrorColor;
    padding: 8px 5px;
    color: $whiteColor;
    font-size: 12px;
    margin-top: 5px;
    height: 15px;
  }
}
